
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TicTacToe Game</title> 
		<link rel="stylesheet" href="/styles/styles.css" />
		<script src="/js/apicaller.js" defer></script>
	</head>
	<body>
		<div id="game" class="nextx">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div id="lastgame" class="hidden">Last game winner:</div>
	</body>
</html>